
<% @links = [ link_to('New List', new_question_list_path) ] %>

<%= pageHeading("My Question Lists") %>

<table class="list" width="100%">
   <tr>
      <th width="50%">Name</th>
      <th width="20%"></th>
      <th width="15%" style="text-align:center"># Questions</th>
      <th width="15%" style="text-align:center"># Members</th>
      <th></th>
      <th></th>
      <th></th>
   </tr>
   
    
  <% @question_list_members.each do |member| %>
     <% question_list = member.question_list %>
    <tr>
      <td><%= link_to question_list.name, question_list_path(question_list) %></td>
      <td>
      </td>
      <td style="text-align:center"><%= question_list.question_list_questions.size %></td>
      <td style="text-align:center"><%= question_list.question_list_members.size %></td>       
      <td><%= link_to show_icon, question_list %></td>
      <td><%= link_to edit_icon, edit_question_list_path(question_list) %></td>
      <td><%= link_to x_icon, question_list, 
                      :confirm => "Are you sure you want to leave #{question_list.name}?", 
                      :method => :delete %></td>
  <% end %>
  
      
      
</table>

<br />
